<!DOCTYPE html>
<html>
  <head>
    <meta property="og:title" content="Interactive Clock for 'Daily Rituals: How Artists Work'"/>
	  <meta property="og:image" content="http://www.whendidtheysleep.com/images/splash.png" />
	  <meta property="og:url" content="http://www.whendidtheysleep.com/" />
	  <meta property="og:description" content="Waste some of your time exploring when and how the great thinkers wasted theirs!" />
    
    <title>When did they...</title>  
    
  
    <%= @pinion.css_url("/css/common.css") %>
    <%= @pinion.css_url("/css/jquery-ui-1.10.1.custom.min.css") %>
    
  
  
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.0/jquery.min.js" type="text/javascript"></script>
    <script type="text/javascript" src="/js/jquery-ui-1.10.1.custom.min.js"></script>
    <script src="http://d3js.org/d3.v3.min.js"></script>
    <script src="http://d3js.org/topojson.v1.min.js"></script>
    <script type="text/javascript" src="/js/underscore.js"></script>


    <script type="text/javascript" src="https://www.google.com/jsapi"></script>
    <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-5140bf9f58fef462"></script>

    <%= yield_content :head %>
    <%= erb :google_analytics if production? %>
    
  </head>
  <body>
    <div class="container">
      <!--<div id="preloader">
        <img src="/images/preloader.gif"/>
      </div>-->
      <div id="content">
        <%= yield %>
      </div>     
      
      <%#= erb :add_this%>

      <div id="footer">
        <div class="copyright">
          Data Gathered from <u>Daily Rituals: How Artists Work</u> by <a href="http://masoncurrey.com/Daily-Rituals">Mason Currey</a><br>
          Visualization by <a href="mailto:rfcima@gmail.com">Rosie Cima</a> and <a href="mailto:raulfoo@gmail.com">Chris Fedor</a> <br>
          Built with <a href="http://d3.js">d3.js</a> 
        </div>
      </div>
    </div>
  </body>
</html>
